.container {
    padding: 20px;
    background-color: #FAFAFA;
}

.title {
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.label {
    color: #C38C20;
    font-size: 39px;
    padding-left: 20px;
    display: inline-block;
}
